body {
    font-family: 'Arial', sans-serif;
    background-color: hsl(108, 57%, 75%);
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    background-color: hsl(108, 67%, 68%);
}

header ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding-right: 100px;
}

header ul li a {
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-size: 15px;
}

.logo-container{
    text-align: center;
}

.pre-header {
    height: 530px;
}
.pre-header {
    background-image: url('../images/bg-poster.png');
    background-attachment: fixed;
    background-size: cover;
}

form {
    text-align: center;
    margin-left: 100px;

}

input[type="search"]{
   width: 700px;
   height: 60px;
   border-radius: 20px;
   border: none;
}
